.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-background {
  background-image: url('/public/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  color: white; 
  text-align: center;
}

.text-white {
  color: white !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: white;
  padding: 20px;
  width: fit-content;
  border: 1px solid #ccc;
  margin: auto; 
  margin-top: 50px; 
}

.icons img {
  width: 100px;
  height: 100px;
  object-fit: contain; 
  display: block;
}



.scroll-text {
  height: 100px; 
  overflow: hidden;
}

.scroll-text p {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
     transform: translateY(100%);
  }
  to {
     transform: translateY(-100%);
  }
}
